.work {
  padding: 60px 0px;
  margin: 40px 0px;
  background-color: #1387812a;
}
.work hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}
.work h2 {
  color: #08726d;
  font-weight: bold;
}
.work-h3 {
  color: white;
}

.work-h4 {
  color: rgb(255, 255, 255);
}
.work-p {
  color: rgb(241, 237, 237);
}

/* =================dark mode=========== */
#dark .work h2 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .work hr {
    width: 300px;
  }
  .work h2 {
    padding-top: 30px;
  }
}
