.contact {
  padding: 50px 10px;
  margin: 10px auto;
  margin-bottom: 20px;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
}

.card1 {
  background-color: #067db5;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.cnt-image {
  padding: 30px;
  margin-top: 30px;
  height: 200px;
  width: 100%;
}
.border-line {
  border-right: 1px solid #e0e0e0;
}
.card2 {
  margin: 0px 40px;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  display: flex;
  width: 10%;
  font-weight: bold;
}

::placeholder {
  color: #bdbdbd;
}

input,
textarea {
  padding: 10px 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  color: #138781;
  font-size: 1rem;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  outline: 1px solid #138781;
  outline-width: 0px;
}

.button {
  background-color: #1e1e2c;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
}
.button:focus {
  box-shadow: none;
  outline-width: 0px;
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px #0e0000;
}

/*============== media query mobile divice=========== */

@media only screen and (max-width: 600px) {
  .contact {
    margin: 0;
    padding: 0px;
    margin-top: 50px;
  }
  .card0 {
    /* padding: 20px;
    margin: 20px; */
    margin-bottom: 40px;
  }

  .card2 {
    margin: 0;
  }
  .card2 h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
}
